#task-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "taskform tasklist";
    
}

#taskform {
    grid-area: taskform;
    max-width: 300px;
    position: relative; 
    left: 0px;
    margin: 0 auto;
    label {
        display: block;
        width: 100%;
    }
}

#tasklist {
    grid-area: tasklist;
}
.taskStud {
    font-weight: 900;
    color: #00ff22;
    font-family: 'Poppins'
  }
